@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'TikTok Sans', sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
